@model PangeaProyecto.Datos.Presencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Presencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_trabajador_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_trabajador_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Turno.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Turno.estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
