@model PangeaProyecto.Datos.Solicitud_Ausencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Solicitud_Ausencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inicial_aus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inicial_aus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_final_aus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_final_aus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_ausencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_ausencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_trabajador_eval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_trabajador_eval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_eval)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_eval)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_turno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_turno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_crea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_crea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_trabajador_modif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_trabajador_modif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_modif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_modif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trabajador.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trabajador.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
